.home-nav-container {
    border-bottom: 1px solid #ececec;
}

.event-date-info {
    padding: 4px 16px;
    border: 1px solid #888888;
    color: #303030;
    background-color: #A6E4DD;
    border-radius: 4px;
}

.event-title {
    color: #F3646B;
    font-weight: 500;
}

.card-body {
    background-color: #F8F9FB;
}
.doorBg{
    background: url('/img/door.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.laundry-machine-active {
    width: 20px;
    height: 20px;
    background-color: green;
}

.laundry-machine-inactive {
    width: 20px;
    height: 20px;
    background-color: red;
}
